trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: build 
  steps: 
  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml' 
      mavenOptions: '-Xmx3072m'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.8'
      jdkArchitectureOption: 'x64'
      publishJUnitResults: true
      testResultsFiles: '**/TEST-*.xml'
      goals: 'clean package'
  - script: |
      echo "Displaying the contents of a build file:"
      pwd
      ls target/
    displayName: 'Display Build Output'
